---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="当サイトについて">
  <h1>当サイトについて</h1>

  <p>
    当サイトは製作者である結城が創作活動の中で生み出したキャラや世界を紹介するためのものです。
  </p>

  <p>
    製作者が後先考えずにいろいろなことに手を出した結果作業量が膨大になり、メインの活動である執筆が滞っております。
  </p>

  <p>
    また、ノリと勢いで始めたためモチベーションが皆無に等しいです。なけなしの気力を振り絞ってサイト運営をしております。
  </p>

  <p>
    そのため更新をするタイミングは気まぐれです。数か月くらいなら余裕で放置します。予めご了承下さい。
  </p>
</BaseLayout>
