---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="結城の箱庭">
  <section class="hero">
    <h1>結城の箱庭</h1>
    <p>
      この箱庭に存在するキャラたちを紹介します。
    </p>

    <a href={`${import.meta.env.BASE_URL}characters/`} class="enter-button">
  箱庭を覗く
</a>

  </section>

 <style>
.hero {
  background-image: url('/Atelier-yuiragi/images/haikei1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>


</BaseLayout>